<launch>
  <node name = "multi_slam_node" pkg = "ohm_tsd_slam" type = "slam_node" output = "screen">
  	<param name = "robot_nbr" type = "int" value = "2"/>
    <param name = "x_off_factor"            type = "double" value = "0.7"   />
    <param name = "y_off_factor"            type = "double" value = "0.6"   />  	
    <param name = "map_size"      type = "int"    value = "13"    />
    <param name = "cellsize"                type = "double" value = "0.015" />
    <param name = "low_reflectivity_range"  type = "double" value = "3.0"   />
    <param name = "occ_grid_time_interval"  type = "double" value = "2.0"   />
    <param name = "truncation_radius"       type = "int"    value = "5"     />
    <param name = "object_inflation_factor" type = "int"    value = "1"     />
    <param name = "use_object_inflation"    type = "bool"   value = "true"  /> 
	<param name = "reg_trs_max"             type = "double" value = "0.5"   />
	<param name = "reg_sin_rot_max"         type = "double" value = "0.5"   />     
  	
  	<param name = "robot0/namespace"               type = "string" value = "georg" />
  	<param name = "/georg/tf_child_frame"          type = "string" value = "laser" />
  	<param name = "/georg/pose_topic"              type = "string" value = "pose"  />
    <param name = "/georg/x_offset"                type = "double" value = "0.0"   />
	<param name = "/georg/y_offset"                type = "double" value = "0.0"   />
	<param name = "/georg/yaw_offset"              type = "double" value = "0.0"   />
	<param name = "/georg/footprint_width"         type = "double" value = "1.0"   />
	<param name = "/georg/footprint_height"        type = "double" value = "1.0"   />
    <param name = "/georg/footprint_x_offset"      type = "double" value = "-0.5"  />
    <param name = "/georg/low_reflectivity_range"  type = "double" value = "3.0"   />
    <param name = "/georg/max_range"               type = "double" value = "30.0"  />    
    <param name = "/georg/min_range"               type = "double" value = "0.01"  />
    <param name = "/georg/registration_mode"       type = "int"    value = "1"     />
    <param name = "/georg/icp_iterations"          type = "int"    value = "50"    />
    <param name = "/georg/dist_filter_max"         type = "double" value = "1.0"   />
    <param name = "/georg/dist_filter_min"         type = "double" value = "0.01"  /> 
    <param name = "/georg/ransac_trials"           type = "int"    value = "20"    />	
	<param name = "/georg/ransac_eps_thresh"	   type = "double" value = "0.15"  />
	<param name = "/georg/ransac_ctrlset_size"	   type = "int"    value = "180"   />
	<param name = "/georg/ransac_phi_max"          type = "double" value = "45.0"  />			
		
  	<param name = "robot1/namespace"               type = "string" value = "simon" />
	<param name = "/simon/tf_child_frame"          type = "string" value = "laser" />
	<param name = "/simon/pose_topic"              type = "string" value = "pose"  />
	<param name = "/simon/x_offset"                type = "double" value = "-0.7"  />
    <param name = "/simon/y_offset"                type = "double" value = "0.0"   />
	<param name = "/simon/yaw_offset"              type = "double" value = "0.0"   />
	<param name = "/simon/footprint_width"         type = "double" value = "1.0"   />
	<param name = "/simon/footprint_height"        type = "double" value = "1.0"   />
    <param name = "/simon/footprint_x_offset"      type = "double" value = "-0.5"  />
    <param name = "/simon/low_reflectivity_range"  type = "double" value = "3.0"   />
    <param name = "/simon/max_range"               type = "double" value = "30.0"  />    
    <param name = "/simon/min_range"               type = "double" value = "0.01"  />
    <param name = "/simon/registration_mode"       type = "int"    value = "1"     />
    <param name = "/simon/icp_iterations"          type = "int"    value = "50"    />
    <param name = "/simon/dist_filter_max"         type = "double" value = "1.0"   />
    <param name = "/simon/dist_filter_min"         type = "double" value = "0.01"  /> 
	<param name = "/simon/ransac_trials"           type = "int"    value = "20"    />	
	<param name = "/simon/ransac_eps_thresh"	   type = "double" value = "0.15"  />
	<param name = "/simon/ransac_ctrlset_size"	   type = "int"    value = "180"   />
	<param name = "/simon/ransac_phi_max"          type = "double" value = "45.0"  />  
  </node>
</launch>
