<launch>
  <node name = "multi_slam_node" pkg = "ohm_tsd_slam" type = "multi_slam_node" output = "screen">
  	<param name = "robot_nbr" type = "int" value = "2"/>
  	
  	<param name = "robot0/namespace" type = "string" value = "georg"/>
  	<param name = "/georg/tf_child_frame" type = "string" value = "base_footprint"/>
  	<param name = "/georg/pose_topic" type = "string" value = "pose"/>
	
  		
  	<param name = "robot1/namespace" type = "string" value = "simon"/>
	<param name = "/simon/tf_child_frame" type = "string" value = "base_footprint"/>
	<param name = "/simon/pose_topic" type = "string" value = "pose"/>
	<param name = "/simon/x_offset" type = "double" value = "-0.25"/>	
	 
		
  </node>
</launch>
