<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  	<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  	<param name="serial_baudrate"     type="int"    value="115200"/>
  	<param name="frame_id"            type="string" value="laser"/>
  	<param name="inverted"            type="bool"   value="false"/>
  	<param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node pkg = "ohm_bob_laser_filter" type = "bob_laser_filter" name = "bob_laser_filter" output = "screen" >
    <param name = "laser_input_topic" type = "string" value = "scan" />
    <param name = "laser_output_topic" type = "string" value = "filtered_scan" />
    <param name = "min_angle" type = "double" value = "-2.355" />
    <param name = "max_angle" type = "double" value = "2.355" />
    <!--<param name = "min_angle" type = "double" value = "-1.57" />
    <param name = "max_angle" type = "double" value = "1.57" />-->
    <param name = "mirror" type = "bool" value = "true" />
  </node> 
   
  <node pkg = "tf" type = "static_transform_publisher" name = "static_laser_tf" args = "0 0 0 0 0 0 base_footprint laser 100"/>

	<node name = "slam_node" pkg = "ohm_tsd_slam" type = "slam_node" output = "screen">
		<param name = "laser_topic" type = "string" value = "filtered_scan"/>
		<param name = "object_inflation_factor" type = "int" value = "1"/>
		<param name = "x_off_factor" type = "double" value = "0.5"/>
		<param name = "y_off_factor" type = "double" value = "0.5"/>
    <param name = "cell_octave_factor" type = "int" value ="10" />
    <param name = "cellsize" type = "double" value = "0.025" />
    <param name = "range_filter" type = "bool" value = "true" />
    <param name = "min_range" type = "double" value = "0.01" />
    <param name = "max_range" type = "double" value = "10.0" />
    <param name = "occ_grid_time_interval" type = "double" value = "2.0" />
    <param name = "loop_rate" type = "double" value = "40.0" />
    <param name = "sensor_static_offset_x" type = "double" value = "-0.19" />
    <param name = "pose_topic" type = "string" value = "pose" />
    <param name = "tf_base_frame" type = "string" value = "/map" />
    <param name = "tf_child_frame" type = "string" value = "base_footprint" />
	</node>
</launch>
