<?xml version="1.0"?>

<launch>
    <!-- extern parameters -->
    <arg name="map_topic" default="map" />             <!-- topic of occupancy grid -->
    <arg name="get_map_topic" default="map" />         <!-- topic of occupancy grid -->
    <arg name="map_global_offset_x" default="0.0" />   <!-- parameter to move the center of the occupancy grid map -->
    <arg name="map_global_offset_y" default="0.0" />   <!-- parameter to move the center of the occupancy grid map -->
    <arg name ="interval_map_publish" default="0.5"/>
    <!-- <arg name="yaw_offset" default="0.0" /> -->
    <arg name="map_size" default="12" />               <!-- TODO: add an explanation for this parameter -->
    <arg name="cellsize" default="0.025" />
    <arg name="tf_base_frame" default="map" />
    <arg name="config_slam" default="$(find ohm_tsd_slam)/config/config_slam.xml"/>
        
    <!-- ******************* -->
    <node name="slam_node" pkg="ohm_tsd_slam" type="slam_node" output="screen">
	<rosparam command="load" file="$(find ohm_tsd_slam)/config/slamparams.yaml" /> 
        <!-- topic/node parameters -->
        <param name="map_topic" type="string" value="$(arg map_topic)" />    <!-- topic of occupancy grid -->
        <param name="get_map_topic" type="string" value="$(arg get_map_topic)" />
        <!-- map parameters -->
        <param name="x_offset" type="double" value="$(arg map_global_offset_x)" />    <!-- offset of robot in map in meters -->
        <param name="y_offset" type="double" value="$(arg map_global_offset_y)" />    <!-- offset of robot in map in meters -->
        <param name="map_size" type="int" value="$(arg map_size)" />    <!-- map size -->
        <param name="cellsize" type="double" value="$(arg cellsize)" />    <!-- cell size in meters -->
        <param name="occ_grid_time_interval" type="double" value="2.0" />    <!-- frequency to publish map -->
        <param name="file_config_xml_slam" type="string" value="$(find ohm_tsd_slam)/config/config_slam.xml"/>
        <param name="registration/config_file" type="string" value = "$(find ohm_tsd_slam)/config/config_registration.xml"/>
        <param name="tsd_pdf/config_file" type = "string" value = "$(find ohm_tsd_slam)/config/config_tsdf_pdf_matcher.xml"/>
        <param name="tf_base_frame" type="string" value="$(arg tf_base_frame)" />
<!-- robot parameters use namespaces for multi slam -->   <!-- TODO: pass namespace to slam config xml -->
        
        <param name="topic_pose" type="string" value="pose" />    <!-- topic for robot's pose -->
        <param name="topic_laser" type="string" value="/scan" />    <!-- topic to receive laser scan -->
        
        <param name="tf_child_frame" type="string" value="base_footprint" />
        <param name="tf_odom_frame"  type="string" value="odom_combined" />
        <param name="footprint_width"    type="double"  value="1.0" />    <!-- width of robot in meters -->
        <param name="footprint_height"   type="double"  value="1.0" />    <!-- length of robot in meters -->
        <param name="footprint_x_offset" type="double"  value="0.28" />    <!-- offset of laser in meters -->
        <param name="local_offset_x"     type = "double" value="0.0"/>
        <param name="thresh_min_pose_change_lin" type = "double" value = "0.05"/>
        <param name="thresh_min_pose_change_lin" type = "double" value = "0.03"/>
        <param name="/tsd_pdf/config_file" type = "string" value = "$(find ohm_tsd_slam)/config/config_tsdf_pdf_matcher.xml"/> 
        <param name="/file_config_robot" type = "string" value = "$(find ohm_tsd_slam)/config/config_robot_default.xml"/>
    </node>
</launch>
